# <center> Exercise: Foundation of Python Programming

Author: Tri Juliansyah M Sambas  
Date: 23th October 2019

## Importing Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing Data

In [2]:
imdb_df = pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv', encoding = 'latin1')

In [3]:
imdb_df.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [4]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 36 columns):
movie_ID                     3781 non-null int64
movie_title                  3781 non-null object
duration                     3781 non-null int64
color                        3781 non-null int64
title_year                   3781 non-null int64
country                      3781 non-null object
language                     3781 non-null object
content_rating               3781 non-null object
budget_USD                   3781 non-null int64
gross_USD                    3781 non-null int64
net_USD                      3781 non-null int64
profitable                   3781 non-null int64
director_name                3781 non-null object
director_top20?              3781 non-null object
director_facebook?           3781 non-null int64
director_facebook_likes      3781 non-null int64
actor_1_name                 3781 non-null object
actor_top20?                 3781 non-null int64
actor_1_facebook?            3781 non-null int64
actor_1_facebook_likes       3781 non-null int64
actor_2_name                 3781 non-null object
actor_top20?.1               3781 non-null int64
actor_2_facebook?            3781 non-null int64
actor_2_facebook_likes       3781 non-null int64
actor_3_name                 3781 non-null object
actor_top20?.2               3781 non-null int64
actor_3_facebook?            3781 non-null int64
actor_3_facebook_likes       3781 non-null int64
cast_total_facebook_likes    3781 non-null int64
movie_facebook?              3781 non-null int64
movie_facebook_likes;        3781 non-null int64
facenumber_in_poster         3781 non-null int64
num_voted_users              3781 non-null int64
num_user_for_reviews         3781 non-null int64
imdb_score                   3781 non-null float64
imdb_top_250                 3781 non-null int64
dtypes: float64(1), int64(26), object(9)
memory usage: 1.0+ MB

## 1. How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [5]:
print('You have ' + str(imdb_df.shape[0]) + ' rows and ' + str(imdb_df.shape[1]) + ' columns.')

You have 3781 rows and 36 columns.

## 2. What are the top 3 movies with highest nett profit in 2015?

In [6]:
print('Here are your top 3 movies with highest nett profit in 2015:')
imdb_df[imdb_df['title_year'] == 2015].sort_values(by = 'net_USD', ascending = False)[['movie_title','title_year','net_USD']][0:3]

Here are your top 3 movies with highest nett profit in 2015:

                  movie_title  title_year    net_USD
14             Jurassic World        2015  502177271
256                   Minions        2015  262029560
3384  Avengers: Age of Ultron        2015  208991599

## 3. What are the top 3 movies with highest gross profit in 2016?

In [7]:
print('Here are your top 3 movies with highest gross profit in 2016:')
imdb_df[imdb_df['title_year'] == 2016].sort_values(by = 'gross_USD', ascending = False)[['movie_title','title_year','gross_USD']][0:3]

Here are your top 3 movies with highest gross profit in 2016:

                    movie_title  title_year  gross_USD
12   Captain America: Civil War        2016  407197282
355                    Deadpool        2016  363024263
36              The Jungle Book        2016  362645141

## 4. How many non-english movies are in the dataset?

In [8]:
print('The number of non-English movies in the dataset are ' + str(len(imdb_df[imdb_df['language'] != 'English']))+ ' movies')

The number of non-English movies in the dataset are 153 movies

## 5. What are top 3 languages in the data set aside English (based on number of movies)?

In [9]:
print('Here are your top 3 languages used in the dataset:')
imdb_df.loc[imdb_df['language'] != 'English','language'].value_counts()[0:3]

Here are your top 3 languages used in the dataset:

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

## 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [10]:
print('Here are your top 3 countries with the highest nett profit:')
imdb_df.groupby(by = 'country')[['net_USD']].sum().sort_values(ascending = False, by = 'net_USD')[0:3]

Here are your top 3 countries with the highest nett profit:

               net_USD
country
USA        52003933174
UK          1531614524
Australia    252571616

## 7. What are the average budget of all movies in dataset in 2015?

In [11]:
print('The average budget of all movies in 2015 is: %0.2f USD' % imdb_df.loc[imdb_df['title_year'] ==2015,'budget_USD'].mean())

The average budget of all movies in 2015 is: 55471931.82 USD

## 8. What are the average budget of all movies in dataset in 2016?

In [12]:
print('The average budget of all movies in 2016 is: %0.2f USD' % imdb_df.loc[imdb_df['title_year'] ==2016,'budget_USD'].mean())

The average budget of all movies in 2016 is: 69225757.58 USD

## 9. Which one is higher, average budget of all movies in dataset in 2015 or 2016?

In [13]:
if imdb_df.loc[imdb_df['title_year'] ==2015,'budget_USD'].mean() > imdb_df.loc[imdb_df['title_year'] ==2016,'budget_USD'].mean():
    print('The average budget of all movies in 2015 is higher than 2016')
else:
    print('The average budget of all movies in 2016 is higher than 2015')

The average budget of all movies in 2016 is higher than 2015

## 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [14]:
print('The most profitable movie all times is ' + imdb_df.sort_values(by = 'net_USD', ascending = False).loc[0,'movie_title'] + ' with net profit ' + str(imdb_df.sort_values(by = 'net_USD', ascending = False).loc[0,'net_USD']) + ' USD')

The most profitable movie all times is Avatar with net profit 523505847 USD

# <center> Additional Questions

In [15]:
def high_rating_label(score):
    if score > 7.5:
        label = 'High'
    else:
        label = 'Low'
    return label

In [16]:
imdb_df['score_group'] = imdb_df['imdb_score'].apply(high_rating_label)

In [17]:
def high_rating_label_numeric(score):
    if score > 7.5:
        label = 1
    else:
        label = 0
    return label

In [18]:
imdb_df['score_group_num'] = imdb_df['imdb_score'].apply(high_rating_label_numeric)

In [19]:
corr_mat = imdb_df.corr()

In [30]:
print('Here are the variable which contributes with HIGH rated movies:')
print('1. Negatively contributed')
display(corr_mat['score_group_num'].sort_values()[0:2])
print('2. Positively contributed')
display(corr_mat['score_group_num'].sort_values()[-4:-1])

Here are the variable which contributes with HIGH rated movies:
1. Negatively contributed

title_year           -0.162112
director_facebook?   -0.139652
Name: score_group_num, dtype: float64

2. Positively contributed

imdb_top_250       0.513247
num_voted_users    0.517289
imdb_score         0.566972
Name: score_group_num, dtype: float64

In [37]:
print('Here are the variable which strengthen with HIGH rated movies:')
print('Positively contributed (more)')
display(corr_mat['score_group_num'].sort_values()[-9:-4])

Here are the variable which strengthen with HIGH rated movies:
Positively contributed (more)

director_facebook_likes    0.186170
gross_USD                  0.195548
duration                   0.285040
movie_facebook_likes;      0.297296
num_user_for_reviews       0.358746
Name: score_group_num, dtype: float64